<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MakeHXCList.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MakeHXCList.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <MakeHXCList.My.MySettings>
            <setting name="ExtListCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TitleExt1" serializeAs="String">
                <value>Commodore Amiga</value>
            </setting>
            <setting name="ListExt1" serializeAs="String">
                <value>.adf|.adz|.dms|.amigados|.raw|.ipf|.hfe</value>
            </setting>
            <setting name="TitleExt2" serializeAs="String">
                <value>Atari ST</value>
            </setting>
            <setting name="ListExt2" serializeAs="String">
                <value>.dim|.msa|.st|.stt|.stw|.stx|.raw|.ipf|.hfe</value>
            </setting>
            <setting name="TitleExt3" serializeAs="String">
                <value>IBM PC</value>
            </setting>
            <setting name="ListExt3" serializeAs="String">
                <value>.img|.imz|.raw|.ipf|.hfe</value>
            </setting>
            <setting name="TitleExt4" serializeAs="String">
                <value>Common</value>
            </setting>
            <setting name="ListExt4" serializeAs="String">
                <value>.adf|.ipf|.hfe|.st|.dsk|.img|.ima</value>
            </setting>
            <setting name="TitleExt5" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="ListExt5" serializeAs="String">
                <value />
            </setting>
        </MakeHXCList.My.MySettings>
    </applicationSettings>
    <userSettings>
        <MakeHXCList.My.MySettings>
            <setting name="LastUsedDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </MakeHXCList.My.MySettings>
    </userSettings>
</configuration>
